html {
    font-size: 20px;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    color: #292929;
    background: white;
    padding: 0;
    margin: 0;

}

header,
footer,
.background-green {
    background-color: rgba(107, 122, 64, .47);

}

p {
    margin: 15px 20px;
}


/*----------------------- Mobile Styles --------------------------*/

.container {
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

/*----------------------- Header Styles --------------------------*/

header {
    width: 100%;
}

nav {
    display: flex;
    width: 100%;

}

h1 {
    font-family: "Sigmar One", cursive;
    font-size: 3.25rem;
    margin-left: 10px;
    margin-top: 0;
    width: 70%;
}

h1 a {
    text-decoration: none;
    color: #254E6B;
}

h2 {
    color: white;
    font-family: "Sigmar One", cursive;
    font-size: 3.25rem;
    line-height: 60px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    text-shadow: 2px 2px rgb(56, 56, 56);
}

.name-change::before {
    content: "Olatunbosun Abujade";
    animation: nameChange infinite 6s;
    animation-delay: 5s;
}

@keyframes nameChange {
    0% {
        content: "Olatunbosun Abujade";
    }

    50% {
        content: "Bosun Abujade";
    }

    100% {
        content: "Ola Abujade";
    }
}

.title {
    color: #8f2056;
    font-family: "Red Hat Display", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    text-shadow: 1px 1px rgb(56, 56, 56);
    text-transform: uppercase;
}

.sidenav {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    position: fixed;
    left: 0;
    margin-top: 0;
    overflow-x: hidden;
    padding-left: 0;
    padding-top: 15px;
    top: 0;
    transition: .5s;
    width: 0;
    z-index: 1;
    display: flex;
    align-content: center;
    flex-flow: wrap;

}

.sidenav li {
    margin: auto;
    padding: 30px;
    width: 100%;
}

.sidenav li a {
    color: rgb(107, 122, 64);
    display: block;
    font-size: 2.75rem;
    font-weight: 700;
    padding: 8px 8px 8px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.sidenav li a:hover {
    color: #8f2056;
}

.closebtn {
    background-color: transparent;
    border: none;
    color: #292929;
    font-size: 2.75rem;
    margin-left: 30px;
    position: absolute;
    right: 20px;
    top: 0;

}

.hamburger {
    background-color: transparent;
    color: #292929;
    font-size: 2.75rem;
    cursor: pointer;
    width: 25%;
    height: max-content;
    margin-top: 13px;
    padding: 0;
    text-align: right;
    padding-right: 20px;
    border: none;

}

.tagline {
    padding-bottom: 160px;
    padding-top: 80px;
}

.landing {
    height: 120px;
}

/*----------------------- Main Styles --------------------------*/


main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*----------------------- About Styles --------------------------*/


.about-hp-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Red Hat Display', sans-serif;
    color: #254E6B;
    text-transform: uppercase;
}

.profile-picture {
    display: inline-block;
    width: 50%;
}

.about-hp-section p {
    width: 90%;
    padding: 20px;
    font-size: 1.5rem;
}

strong {
    width: 100%;
}

.learn-more a {
    color: #8F2D56;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-flow: wrap;
    justify-content: end;
}

.learn-more {
    text-align: end;
    width: 100%;
    font-size: 1.25rem;
}

.aboutbtn {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #6B7A40;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 5px;
    letter-spacing: 1.5px;
    margin: 10px;
    width: 20%;
}

/*----------------------- Skill & Tools Styles --------------------------*/

.skills-hp-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 30px;
}

.circle-container {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 90%;
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 1.5px 1.5px #292929;
    text-align: center;
    margin: 5px;
    font-size: 18px;
}

.blue {
    background-color: #254E6B;
}

.green {
    background-color: #6B7A40;
}

.pink {
    background-color: #8f2056;
}

.gray {
    background-color: #292929;
}

.blue:hover {
    border-color: #254E6B;
    box-shadow: 0 0 15px 0 #254E6B inset, 0 0 10px 4px #254E6B;
    color: black;
}

.green:hover {
    border-color: #6B7A40;
    box-shadow: 0 0 15px 0 #6B7A40 inset, 0 0 10px 4px #6B7A40;
    color: black;
}

.pink:hover {
    border-color: #8f2056;
    box-shadow: 0 0 15px 0 #8f2056 inset, 0 0 10px 4px #8f2056;
    color: black;
}

.gray:hover {
    border-color: #292929;
    box-shadow: 0 0 15px 0 #292929 inset, 0 0 10px 4px #292929;
}

/*----------------------- Project Styles --------------------------*/
.projects-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    background-color: rgba(115, 115, 115, .20);
    padding-top: 30px;
    padding-bottom: 30px;
}

.projects-section h3 {
    padding: 0;
    margin: 0;
}

.project-box {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
}

h4 {
    color: #8f2056;
    font-size: 1rem;
    text-align: center;
}

.project-img {
    width: 100%;
    border: 2.5px solid #292929;
}

.tag-section {
    margin: 10px 0 5px 0;
    padding: 0;
}

.tag {
    background-color: #254E6B;
    padding: 15px;
    font-size: .7rem;
    font-weight: 700;
    color: white;
    line-height: 95px;
}

.project-description {
    margin: 30px 0;
    padding: 0;
    font-size: 1rem;
}

.view-button {
    color: white;
    text-decoration: none;
    background-color: #6B7A40;
    border: none;
    padding: 15px;
    font-size: .8rem;
    font-weight: 700;
}



/*------------ Contact Styles -------------*/

.contact {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
    margin: 0 auto;
}

.contact h3 {
    color: #292929;
    margin-bottom: 20px;
}

.contact-form {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

form {
    width: 80%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0 auto;
}

label {
    font-size: 1.5rem;
    width: 100%;
    font-weight: 700;
    color: #292929;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 20px;
    border: 1.5px solid #254E6B;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1rem;
}

input[type=submit] {
    width: 20%;
    background-color: #254E6B;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1.25rem;
}

input[type=submit]:hover {
    border-color: #254E6B;
    box-shadow: 0 0 10px 0 #254E6B inset, 0 0 10px 4px #254E6B;
    color: #292929;
    background-color: white;
}

.error-message {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}


.contact-icon {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
}

.contact i {
    font-size: 2.75rem;
    color: #254E6B;
}

.contact-info {
    font-size: 1rem;
    margin-top: 30px;
    width: 30%;
    text-decoration: none;
    color: #292929;
    text-align: center;
}

.contact-icon a {
    width: 20%;
    margin: 15px 20px;
    ;
    text-align: center;
}

/*----------------------- Footer Styles --------------------------*/
footer {
    width: 100%;
    padding: 20px 0 5px 0;

}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #8F2D56;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding-left: 15px;
}

.footer-nav {
    text-align: center;
}

.copyright {
    font-size: .8rem;
    padding-bottom: 10px;
    margin-bottom: 0;
}

/*----------------------- About Page Styles --------------------------*/

.about {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.about img {
    width: 60%;
}

.about p {
    padding: 30px;
    font-size: .8rem;
}


/*----------------------- Desktop Styles --------------------------*/
@media only screen and (min-width:1024px) {

    .container {
        min-width: 1024px;
    }

    /*--------- Desktop Header Styles --------------------------*/
    h1 {
        font-size: 2.5rem;
        width: 45%;
    }

    h2 {
        font-size: 4.25rem;
        line-height: 72px;
    }

    .title {
        font-size: 2rem;
    }

    .tagline {
        padding-bottom: 200px;
        padding-top: 60px;
    }

    .closebtn {
        display: none;
    }

    .hamburger {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    .sidenav {
        display: flex;
        position: static;
        flex-flow: nowrap;
        width: 50%;
        height: auto;
        background-color: transparent;
        overflow: visible;
        padding: 0;
        z-index: auto;
        list-style-type: none;
        justify-content: space-around;
        transition: 0s;
    }

    .sidenav li {
        padding: 0;
        text-decoration: none;
        margin: 0;
        margin-top: 30px;
    }

    .sidenav li a {
        font-size: .9rem;
        padding: 0;
        padding-left: 10px;
        text-align: left;
        display: inline;
    }

    .landing {
        height: 85px;
    }

    /*-------- Desktop About Section Styles --------*/
    h3 {
        font-size: 2.5rem;
    }

    .about-hp-section p {
        font-size: 1rem;
    }

    .aboutbtn {
        font-size: .8rem;
        width: 15%;
    }

    .profile-picture {
        width: 45%;
        max-height: 65%;
    }

    .about-hp-section p {
        width: 45%;
        line-height: 35px;
        display: flex;
        flex-flow: wrap;
        align-content: center;
        justify-content: end;

    }

    /*-------- Desktop Skills Styles --------*/
    .circle-container {
        justify-content: space-between;
        width: 75%;
    }

    .circle {
        margin: 10px;
        width: 80px;
        height: 80px;
        font-size: .6rem;
    }

    /*-------- Desktop Projects Styles --------*/
    h4 {
        font-size: .9rem;
    }

    .project-box {
        width: 30%;
    }

    .projects-section button {
        font-size: .7rem;
    }

    .tag {
        line-height: 20px;
    }

    /*-------- Desktop Contact Styles --------*/
    input[type=text],
    input[type=email],
    textarea {
        font-size: .9rem;
    }

    label {
        font-size: 1rem;
    }

    input[type=submit] {
        font-size: .8rem;
    }

    form {
        width: 40%;
    }

    input[type=submit] {
        width: 15%
    }

    /*-------- Desktop Footer Styles --------*/

    .footer-nav {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
    }

    footer a {
        font-size: .8rem;
        justify-content: space-between;
    }

    .copyright {
        font-size: .7rem;
        padding-top: 10px;
        padding-bottom: 0;
    }

    /*-------- Desktop About Page Styles --------*/


    .about img {
        width: 45%;
        height: auto;
    }

    .about p {
        font-size: 1rem;
        width: 40%;
        align-content: center;
    }


}