body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    color: #292929;
    background: white;
    padding: 0;
    margin: 0;

  }

header,
footer,
.background-green {
    background-color: rgba(107,122,64, .47 );

}

p {
    margin: 15px 20px;
    font-size: 14px;
}


/*----------------------- Mobile Styles --------------------------*/

.container {
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

/*----------------------- Header Styles --------------------------*/

header {
    width: 100%;
}

nav {
    display: flex;
    width: 100%;

}
h1 {
    color: #254E6B;
    font-family: "Sigmar One", cursive;
    font-size: 35px;
    margin-left: 10px;
    margin-top: 0;
    width: 70%;
}
h2 {
    color: white;
    font-family: "Sigmar One", cursive;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    text-shadow: 2px 2px rgb(56, 56, 56);
}
.name-change::before {
    content: "Olatunbosun Abujade";
    animation: nameChange infinite 6s;
    animation-delay: 5s;
}
@keyframes nameChange {
    0% {
        content: "Olatunbosun Abujade";
    }
    50% {
        content: "Bosun Abujade";
    }
    100% {
        content: "Ola Abujade";
    }
}
.title {
    color: #8f2056;
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    text-shadow: 1px 1px rgb(56, 56,56);
    text-transform: uppercase;
}

.sidenav {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    position: fixed;
    left: 0;
    margin-top: 0;
    overflow-x: hidden;
    padding-left: 0;
    padding-top: 15px;
    top: 0;
    transition: .5s;
    width: 0;
    z-index: 1;

}
.sidenav li {
    margin: auto;
    padding: 30px;
    align-content: center;

}

.sidenav li a {
    color: rgb(107,122,64 );
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 8px 8px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}
.sidenav li a:hover {
    color: #8f2056;
}
.sidenav .closebtn {
    background-color: transparent;
    border: none;
    color: #292929;
    font-size: 36px;
    margin-left: 30px;;
    position: absolute;
    right: 25px;
    top: 0;

}
.hamburger {
    background-color: transparent;
    color: #292929 ;
    font-size: 30px;
    cursor:pointer;
    width: 25%;
    height: max-content;
    margin-top: 13px;
    padding: 0;
    text-align: right;
    padding-right: 20px;
    border: none;

}
.tagline {
    padding-bottom: 80px;
    padding-top: 20px;
}
.landing {
    height: 70px;
}

/*----------------------- Main Styles --------------------------*/


main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*----------------------- About Styles --------------------------*/


.about-hp-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Red Hat Display', sans-serif;
    color: #254E6B;
    text-transform: uppercase;
}

.profile-picture {
    display: inline-block;
    width: 50%;
}

.about-hp-section p {
    width: 90%;
    margin: 20px;
    line-height: 20px;
}

.learn-more a {
    color: #8F2D56;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-flow: wrap;
    justify-content: end;
}
.learn-more {
    text-align: end;
    width: 100%;
}
.aboutbtn {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #6B7A40;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 5px;
    letter-spacing: 1.5px; 
    margin: 10px;
    width: 20%;
}
/*----------------------- Skill & Tools Styles --------------------------*/

.skills-hp-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.circle-container {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 90%;
}

.circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 1.5px 1.5px  #292929;
    text-align: center;
    margin: 5px;
    font-size: 12px;
}
.blue {
    background-color: #254E6B;
}
.green {
    background-color: #6B7A40;
}
.pink {
    background-color: #8f2056;
}
.gray {
    background-color: #292929;
}
.blue:hover {
    border-color: #254E6B;
    box-shadow: 0 0 15px 0 #254E6B
    inset, 0 0 10px 4px #254E6B;
    color: black;
}
.green:hover {
    border-color: #6B7A40;
    box-shadow: 0 0 15px 0 #6B7A40
    inset, 0 0 10px 4px #6B7A40;
    color: black;
}
.pink:hover {
    border-color: #8f2056;
    box-shadow: 0 0 15px 0 #8f2056
    inset, 0 0 10px 4px #8f2056;
    color: black;
}
.gray:hover {
    border-color: #292929;
    box-shadow: 0 0 15px 0 #292929
    inset, 0 0 10px 4px #292929;
}

/*----------------------- Project Styles --------------------------*/

.projects-hp-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    background-color:rgba(115, 115, 115, .47);
    padding-bottom: 30px;
}
.projects-hp-section h3 {
    color: #292929;
}

.slideshow-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
.project {
    width: 70%;
    margin: 0 auto;
}
.project-pic {
    width: 100%;
    border: 2px solid #292929;
}
h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 0;
}
h4 a {
    text-decoration: none;
    color: #254E6B;
}

.view-more-projects a {
    text-decoration: none;
    color: white;
}
.view-more-projects {
    padding: 14px;
    background-color: #6B7A40;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/*----------------------- Footer Styles --------------------------*/
footer {
    width: 100%;
    padding: 20px 0 5px 0;

}
footer p {
    text-align: center;
  }
footer a {
    text-decoration: none;
    color: #8F2D56;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 10px;
}
.footer-nav {
    text-align: center;
}
.copyright {
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*----------------------- About Page Styles --------------------------*/

.about {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
}
.about img {
    width: 60%;
}
.about p {
    padding: 20px;
    font-size: 14px;
}
.about h4,
.contact h4 {
    width: 100%;
    font-size: 24px;
    color: #8f2056;
}

/*------------ About Page Contact Styles -------------*/

.contact {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
    margin: 0 auto;
}
.contact-form {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}
form {
    width: 80%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0 auto;
}

label {
    font-size: 14px;
    width: 100%;
    font-weight: 700;
    color: #292929;
}
input[type=text], 
input[type=email], 
textarea {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #254E6B;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    width: 20%;
    background-color: #254E6B;
    color: white;
    padding: 10px;
    border: none;
}

input[type=submit]:hover {
    border-color: #254E6B;
    box-shadow: 0 0 10px 0 #254E6B
    inset, 0 0 10px 4px #254E6B;
    color: #292929;
    background-color: white;
}

.error-message {
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}


.contact-icon {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
}
.contact i {
    font-size: 30px;
    color: #254E6B;
}

.contact p {
    font-size: 15px;
    margin-top: 30px;
}

.contact a {
    width: 20%;
    margin: 15px 20px;;
    text-align: center;
}


/*----------------------- Project Page Styles --------------------------*/
.project-page-section{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    background-color: rgba(115, 115, 115, .20);
    padding-top: 30px;
}

.project-page-section img {
    width: 100%;
}

.tag-section {
    margin: 15px 0;
    padding: 0;
}

.project-description {
    margin: 30px 0;
    padding: 0;
    font-size: 15px;
}

.project-page-section a {
    color: white;
    text-decoration: none;
}

.project-page-section button {
    background-color: #6B7A40;
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

.project-page-section h4 {
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 0;
    color: #8f2056;
}

.project-box {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
}
.tag {
    background-color: #254E6B;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

/*----------------------- Desktop Styles --------------------------*/
@media only screen and (min-width:1024px) {

    .container {
        min-width: 1024px;
    }

    h1 {
        font-size: 50px;
        width: 45%;
    }
    h2 {
        font-size: 85px;
        line-height: 72px;
    }
    .title {
        font-size: 40px;
    }
    .tagline {
        padding-bottom: 200px;
        padding-top: 60px;
    }
    .closebtn {
        display: none;
    }
    .hamburger {
        display: none;
    }
    nav {
        justify-content: space-between;
    }

    .sidenav {
        display: flex;
        position: static;
        width: 50%;
        height: auto;
        background-color: transparent;
        overflow: visible;
        padding: 0;
        z-index: auto;
        list-style-type: none;
        justify-content: space-around;
        transition: 0s;
    }
    .sidenav li {
        padding: 0;
        text-decoration: none;
        margin: 0;
        margin-top: 30px;
    }
    .sidenav li a {
        font-size: 18px;
        padding: 0;
        padding-left: 10px;
        text-align: left;
        display: inline;
    }

    .landing {
        height: 85px;
    }
    h3 {
        font-size: 45px;
    }
    .about-hp-section p {
        font-size: 20px;
    }
    .aboutbtn {
        font-size: 16px;
        width: 15%;
    }

    .profile-picture {
        width: 45%;
    }
    
    .about-hp-section p {
        width: 45%;
        line-height: 35px;
        display: flex;
        flex-flow: wrap;
        align-content: center;
        justify-content: end;

    }

 

    .project {
        width: 30%;
    }
    .project-pic {
        width: 100%;
        border: 3px solid #292929;
    }
    h4 {
        font-size: 18px;
    }




    .footer-nav {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
    }
    footer a {
        font-size: 16px;
        justify-content: space-between;   
     }
    .copyright {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 0;
    }
    
    .circle-container {
        justify-content: space-between;
        width: 75%;
    }
    .circle {
        margin: 10px;
    }

    .about img {
        width: 45%;
        height: auto;
    }

    .about p {
        font-size: 20px;
        width: 40%;
        align-content: center;
    }

    .contact h4,
    .about h4 {
        font-size: 35px;
    }
    .contact h4 {
        margin-top: 20px;
    }


    form {
        width: 40%;
    }

    input[type=submit] {
        width: 15%
    }

    .project-box {
        width: 45%;
    }

}